<section id="about">
  <h2>About Me</h2>
  <p>
    I'm Shawn Singh Chumbar, a Fremont-based Software Engineer passionate about
    building robust, efficient systems and solving complex challenges. I've
    designed and implemented critical alarm systems at
    <b>Nokia Networks</b> using <b>Golang</b>, <b>Docker</b>, <b>Helm</b>, and
    <b>Kubernetes</b>. My experience at <b>Exact Sciences Corp.</b> includes
    migrating production codebases, automating development workflows, and
    enhancing CI/CD pipelines with <b>C#</b> and <b>Python</b>. I focus on high
    availability, seamless integration, and boosting developer productivity.
  </p>
</section>
