<section id="contact">
  <h2>Contact</h2>
  <div class="contact-grid">
    <div class="contact-item">
      <i class="fas fa-envelope"></i>
      <div>
        <h3>Email</h3>
        <a href="mailto:shawnchumbar@gmail.com">shawnchumbar@gmail.com</a>
      </div>
    </div>
    <div class="contact-item">
      <i class="fab fa-linkedin"></i>
      <div>
        <h3>LinkedIn</h3>
        <a href="https://www.linkedin.com/in/schumbar/" target="_blank"
          >linkedin.com/in/schumbar</a
        >
      </div>
    </div>
    <div class="contact-item">
      <i class="fab fa-github"></i>
      <div>
        <h3>GitHub</h3>
        <a href="https://github.com/schumbar" target="_blank"
          >github.com/schumbar</a
        >
      </div>
    </div>
    <div class="contact-item">
      <i class="fas fa-phone"></i>
      <div>
        <h3>Phone</h3>
        <a href="tel:9258134901">(925) 813-4901</a>
      </div>
    </div>
  </div>
</section>
