<section id="work-experience">
  <h2>Work Experience</h2>
  <div class="projects-grid">
    <div class="project-card">
      <h3
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <span>Nokia Networks</span>
        <span>2022-Present</span>
      </h3>
      <p
        class="experience-meta"
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <span><strong>Software Engineer II</strong></span>
        <span> <strong> Sunnyvale, CA </strong></span>
      </p>
      <ul>
        <li>
          Led the design and implementation of alarm systems for Fabric Services
          System (FSS), reducing response times to critical network issues by
          30% and improving automation efficiency across 100+ data center nodes.
        </li>
        <li>
          Collaborated with clients and stakeholders to troubleshoot and resolve
          85% of alarm issues, preventing potential outages and maintaining
          99.9% system uptime.
        </li>
        <li>
          Developed and managed alarm functionalities using Golang, Docker,
          Helm, and Kubernetes, reducing integration time by 25% and ensuring
          high availability across 10 microservices within the FSS architecture.
        </li>
        <li>
          Optimized alarm performance across data center switching fabrics using
          Ubuntu and MacOS, achieving 100% compatibility across environments and
          improving performance by 30%.
        </li>
        <li>
          Partnered with cross-functional teams to enhance alarm monitoring,
          reducing manual intervention by 30% and boosting overall system
          automation and operational efficiency.
        </li>
        <li>
          Boosted code reliability by increasing test coverage by 35%,
          significantly reducing bugs in production and improving system
          stability by 15%.
        </li>
      </ul>
    </div>
    <div class="project-card">
      <h3
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <span>Exact Sciences Corp.</span>
        <span>2019-2022</span>
      </h3>
      <p
        class="experience-meta"
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <span>
          <strong>Software Engineer II</strong>
        </span>
        <span> <strong>Remote</strong></span>
      </p>
      <ul>
        <li>
          Collaborated with teams and executed a migration strategy and
          timeline, successfully migrating 500,000+ lines of production code
          from Perforce to Azure DevOps Server, reducing migration time by 20%.
        </li>
        <li>
          Developed a C# software suite to automate the transition of work items
          from development to completion, increasing developer productivity by
          45% and reducing manual tracking efforts.
        </li>
        <li>
          Configured repository branching strategies for internal and external
          teams, improving collaboration and reducing code conflicts by 30%
          across 15+ project repositories.
        </li>
        <li>
          Managed builds and releases on Azure DevOps Server across 3
          environments (dev, test, prod), supporting 5+ development teams and
          ensuring consistent delivery of software updates.
        </li>
        <li>
          Successfully implemented a data migration plan in alignment with
          governmental regulatory requirements, securing compliance and avoiding
          penalties.
        </li>
        <li>
          Prevented Corrective Action and Preventive Action (CAPA), saving the
          company $250,000 and avoiding a potential 3-day operational shutdown.
        </li>
        <li>
          Created and executed Azure DevOps Server release definitions to
          automate code deployments to Salesforce and Informatica, reducing
          manual deployment errors by 45%.
        </li>
        <li>
          Updated deployment pipelines to integrate CI/CD automation for work
          tracking processes, increasing bug resolution rates by 45% and saving
          the product owner team an average of 2 hours per day.
        </li>
        <li>
          Designed a deployment process enabling non-technical teams to
          independently run software deployments, reducing dependency on
          technical resources and improving deployment efficiency by 25%.
        </li>
      </ul>
    </div>
  </div>
</section>
